In [15]:
from db import Database
import pandas as pd

db = Database()
df1 = db._getDb()

df2 = pd.read_csv("database copy.csv", na_filter=False)

In [16]:
df = pd.concat([df1, df2])
print(df.tail(5))

     id                                     name   dataType status timestamp
46  E25         AC/DC Current Clamp Fluke i30 /1  equipment
47  E26           Multimeter DigiTech QM1529 / 6  equipment
0   E26           Multimeter DigiTech QM1529 / 6  equipment     U0
1   E27              Current Clamp - New one / 1  equipment
2   E28  Oscilloscope Keysight $$$ - New one / 1  equipment

In [17]:
df = df[~df.id.duplicated(keep='first')]
print(df.tail(5))

     id                                          name   dataType status  \
45  E24  Multimeter AC Current Clamp Tenma 72-7222 /1  equipment
46  E25              AC/DC Current Clamp Fluke i30 /1  equipment
47  E26                Multimeter DigiTech QM1529 / 6  equipment
1   E27                   Current Clamp - New one / 1  equipment
2   E28       Oscilloscope Keysight $$$ - New one / 1  equipment

   timestamp
45
46
47
1
2